<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento</title>
    <link rel="stylesheet" href="../../stylecss/styleerror.css">
    <link rel="icon" href="../../img/imagen_2.png">
</head>
<body>
    <div class="todo">
        <section class="titulo_error">
            <p>No puede acceder a la página, estamos realizando tareas de mantenimiento</p>
        </section>
        <section class="texto_imagen_juntos">
            <article class="texto">
                <p>Por favor, sea paciente hasta que finalizemos.</p>
                <p>Si necesita algo urgentemente, contacte al número de atención al cliente <strong>+34 656-96-25-46</strong>.</p>
            </article>
            <article class="imagen">
                <img src="../../img/imagen_4.png" alt="No disponible" class="img">
            </article>
        </section>
    </div>
</body>
</html>