<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microplastics in your fish</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../stylecss/style.css">
    <link rel="icon" href="../../img/imagen_2.png">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <div class="todo">
      <section class="navegacion">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid" id="navegacion">
              <a class="navbar-brand" href="../../index.html" id="jprocean">JPROcean</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" id="boton">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div id="navegacion_secundaria">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" aria-current="page" href="../noticias.html" id="inicio">News</a>
                      <a class="nav-link" href="./noticia1.html" id="quienes_somos">News piece 1</a>
                      <a class="nav-link" href="./noticia2.html" id="quienes_somos">News piece 2</a>
                      <a class="nav-link" href="./noticia3.html" id="nuestro_trabajo">News piece 3</a>
                      <a class="nav-link" href="./noticia4.html" id="noticias">News piece 4</a>
                    </div>
                </div>
              </div>
            </div>
        </nav>
    </section>
    <section class="introduccion">
      <div class="imagen_intro">
          <div class="contenedor_imagen_principio">
              <p class="texto_quienes_somos">News</p>
              <img src="../../img/imagen_13.png" alt="No Disponible" class="imagen_noticias">
          </div>
      </div>
  </section>
          <section class="introduccion_texto">
            <div class="contenedor_texto">
                <p class="bienvenida">NEWS PIECE 3</p>
                <p class="bienvenida" >Microplastics in your fish</p>
            </div>
            <div class="fila">
                <div class="col-izq">
                    <p class="texto_fila">You know that the fishes have microplastics and for that is more difficult to find more clean fish?</p>
                    <p class="texto_fila2">In the Pacific ocean, especially in the trash island, there is a 94% of microplastics</p>
                  </div>
                <div class="col-der">
                    <img class="imagen_contaminacion" src="../../img/imagen_18.jpg">
                </div>
            </div>
            <div class="fila">
              <div class="col-izq">
                  <img class="imagen_contaminacion" src="../../img/imagen_19.jpg">
              </div>
              <div class="col-der">
                  <p class="texto_fila">The fishes that live there, ingest microplastics that makes the fish be more polluted and then they can't be ingested.</p>
                  <p class="texto_fila2">Every day fishes are founded more polluted, and that is a reason that the "healthy fishes" are more expensive.</p>
                </div>
          </div>
          <div class="fila">
            <div class="col-izq">
                <p class="texto_fila">Keep in mind that what the fish ingest can then be ingested by you. That's why it's so hard to find clean fish on the market.</p>
                <p class="texto_fila2">¡Join to our ONG and help us saving the Ocean!</p>
              </div>
            <div class="col-der">
                <img class="imagen_contaminacion" src="../../img/imagen_20.jpg">
            </div>
        </div>
        <div class="volver">
          <div class="contacto_div_volver">
              <a href="../noticias.html" class="link_noticias"><p class="texto_volver">See more news...</p></a>
          </div>
        </div>
        <div class="fila_contacto">
          <div class="titulo_contacto">
              <p>¡Contact with us and help us to finish with the microplastics!</p>
          </div>
          <div class="contacto_icono">
              <div class="contacto_div_imagen">
                  <svg xmlns="http://www.w3.org/2000/svg" class="imagen_icono" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#74C0FC" d="M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z"/></svg>
                  <p class="texto_icono">@jprocean_oficial</p>
              </div>
              <div class="contacto_div_imagen">
                  <svg xmlns="http://www.w3.org/2000/svg" class="imagen_icono" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#74C0FC" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                  <p class="texto_icono">+34-678-23-45-12</p>
              </div>
          </div>
      </div>
          </section>
</body>
</html>